#bottombar {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    right: 40px;
    float: right;
}

.bb_open {
    width: 330px;
    height: 35px;
    background-color: #0072bc;
    float: right;
}

.bb_open{
    border-radius: 7px 7px 0px 0px;
    display: none;
    cursor: pointer;
}

.bottomright {
    box-sizing: border-box;
    color: #fff;
    display: inline;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
    padding-left: 40px;
    text-decoration: none;
    width: 280px;
    background: url("images/icon-popup-bottom.png") left 10px center no-repeat;
}

.open_pop {
    width: 33px;
    height: 30px;
    background: url("images/icon-open-popup-button.png") top 10px center no-repeat;
    float: right;
    margin: 0 1px 0 0;
    color: transparent;
}

.bb_close a {
    background-color: #f34b26;
    border: 1px #fff solid;
    color: #fff;
    display: block;
    float: right;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    margin: 0 3px 0 0;
    padding: 2px 12px;
    text-decoration: none;
}

.bottombar {
    float: right;
    padding: 0;
}

.emailto {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #0072bc;
    float: right;
    width: 100%;
    padding: 0;
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    height: 25px;
    line-height: 25px;
}

.goimuahang {
    color: #fff;
    float: left;
    font-family: arial,helvetica,sans serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 0 12px;
    width: 90%;
}

#bannerHolderHomeCenter29{
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
}